<% if current_user == user %>
      <p class="withdraw-btn"><%= link_to "アカウント削除", user_path(current_user), method: :delete, data: { confirm: current_user.name + "を本当に削除しますか？"}, class: 'btn btn-sm btn-danger' %></p>
<% end %>