<main class="toppage">
  <div>
    <p id="catchcopy">今ある「行きたい」「やりたい」をのこそう</p>
    <h1 class="brand-logo brand-text">Yumetabi</h1>
    
    <div class="row">
      <div class="col-sm-2 offset-sm-5">
        <div class="act-btn">
          <%= link_to "アカウント作成", signup_path, class: 'btn btn-md btn-primary btn-block' %>
        </div>
        <div class="act-btn">
          <%= link_to "ログイン", login_path, class: 'btn btn-md btn-primary btn-block' %>
        </div>
      </div>
    </div>

  </div>
</main>