body {
    margin: 0;
    padding: 0;
    background-color: #e3d7c9;
}

.toppage {
    padding-top: 10%;
    text-align: center;
    width: 100%;
    height: 100vh;
}

#catchcopy {
    margin: 0;
}

.page_header {
    padding: 1rem 0;
    margin: 2rem 0 5rem;
    background-color: #622d18;
    color: #ffffff;
    text-align: center;
}

.page_header h1 {
    margin: 0;
    font-size: 1.5rem;
}

.brand-logo {
    margin: 3rem 0 5rem;
}

.brand-text {
    color: #b33e5c; 
    font-weight: bold;
}

.act-btn .btn {
    border: none;
    border-radius: 15px;
    margin: 0 0 0.5rem 0;
    background: #ff743d;
}

.login-btn .btn, .signup-btn .btn {
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    border-radius: 30px;
    margin-top: 20px;
    background: #ff743d;
}

.confirm-text {
    font-size: 0.9rem;
}

.attention {
    font-size: 0.9rem;
    text-align: right;
}

.record {
    padding: 0 1.5rem;
    border: solid 1px #aaaaaa;
    border-radius: 5px;
    margin-bottom: 1rem;
    background-color: #eeeeee;
}

.record .desk-row:first-child {
    margin-top: 1rem;
}

.row .date-label {
    display: block;
}

.row .reriod-symbol {
    margin-right: 1rem;
    margin-left: 1rem;
}

.row input[type="date"] {
    display: inline-block;
    width: 11rem;
}

.header {
    margin: 1rem auto;
}

.record-left p {
    margin: 1rem 0;
}

.attention {
    color: #b33e5c;
    font-weight: bold;
}

.table_list {
    margin: 1.5rem 0;
    border: dotted;
}

.profile-image {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

.profile-image figure img {
    border: solid 5px #330e00;
}

.edit-profile {
    padding-top: 10%;
    margin-left: auto;
}

.travel-image img {
    margin-top: 1em;
}

.new-btn .btn, .show-btn .btn, .edit-btn .btn, .index-btn .btn, 
.back-btn .btn, .update-btn .btn, .create-btn .btn, .favorite-btn .btn, 
.comment-btn .btn, .follow-btn .btn {
    border: none;
    border-radius: 5px;
    background: rgba(255, 116, 61, 1);
    transition: background .8s;
}

.new-btn .btn:hover, .show-btn .btn:hover, .edit-btn .btn:hover, .index-btn .btn:hover, 
.back-btn .btn:hover, .update-btn .btn:hover, .create-btn .btn:hover, .follow-btn .btn:hover, 
.favorite-btn .btn:hover, .comment-btn .btn:hover{
    background: rgba(255, 116, 61, .7);
}

.follow-btn .btn {
    margin-top: 1rem;
}

.comment-btn .btn {
    margin-top: .5em;
    margin-bottom: .5em;
}

.delete-btn .btn,
.withdraw-btn .btn {
    border: none;
    border-radius: 5px;
    background: rgba(179, 0, 45, 1);
    transition: background .8s;
}

.withdraw-btn .btn {
    margin-top: 50px;
}

.delete-btn .btn:hover,
.withdraw-btn .btn:hover {
    background: rgba(179, 0, 45, .7);
}

.submit_btn:hover {
    cursor: pointer;
}

.comment-wrapper {
    margin-top: 100px;
}

.comment-wrapper h4 {
    margin-bottom: 1em;
}

.travel-comment-box {
    margin-bottom: 2rem;
}

.travel-comment-box figure {
    margin: 0;
}

.travel-comment-box figure figcaption {
    color: #495057;
    font-weight: bold;
    text-decoration: none;
}

.travel-comment-box a:hover {
    color: #495057;
    text-decoration: underline;
}

.nav .nav-item {
    border-right: 1px solid #ffffff;
    border-radius: 5px 5px 0 0;
}

.nav .nav-item:last-child {
    border-right: none;
}

.nav .nav-item .nav-link {
    background-color: #61453a;
    color: #ffffff;
}

.nav .nav-item .nav-link.active {
    border-right: none;
    border-bottom: none;
    background-color: #622d18;
    color: #ffffff;
}

.travels-list,
.users-list,
.search-travels-list {
    border: solid 1px #aaaaaa;
    background-color: #fff2e3;
}

.travels-list li,
.users-list li,
.search-travels-list  {
    padding: 0 1.5rem;
}

.users-list li .d-inline-flex {
    margin-bottom: 0;
}

.users-list li figure figcaption {
    color: #495057;
    font-weight: bold;
    text-decoration: none;
}

.users-list li a:hover {
    color: #495057;
    text-decoration: underline;
}

.travels-list .record,
.search-travels-list .record {
    border: none;
    border-radius: 0;
    background-color: #fff2e3;
}

.travels-list .record p:first-child {
    margin: 0.5rem 0;
    font-weight: bold;
}

.travels-list .record p:last-child {
    text-indent: 1rem;
}

.travels-list .record p a,
.search-travels-list .record a {
    color: #495057;
    text-decoration: none;
}

.travels-list .record p a:hover,
.search-travels-list .record a:hover {
    color: #495057;
    text-decoration: underline;
}

.search-travels-list .record p {
    text-indent: 1rem;
    margin-bottom: 0rem;
}

.search-travels-list .record > p {
    margin: 0.5rem 0;
    font-weight: bold;
    text-indent: 0;
}

.travel-item-title {
    display: inline-block;
    width: 8rem;
}

/* Font Awesome */
.fa-search,
.fa-table,
.fa-user,
.fa-sign-out-alt {
    display: inline-block;
    margin-right: .25rem;
    font-size: 1.25em;
}

.fa-plane,
.fa-heart,
.fa-star {
    display: inline-block;
    margin-right: .5rem;
    font-size: 1.25em;
}

@media screen and (max-width: 600px) {
    .travel-image img {
        width: 100vw;
    }
}
