body {
    margin: 0;
    padding: 0;
    background-color: #E3D7C9;
}

.toppage {
    padding-top: 10%;
    text-align: center;
    /*background: url("/globalmap.jpg")  no-repeat center center / cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 0;*/
}

.toppage::before {
    
    /*content: "";
    padding-top: 10%;
    position: absolute;
    width: 100%;
    height: 100%;
    background: inherit;
    filter: brightness(75%);
    z-index: -1;*/
}


#catchcopy {
    margin: 0;
}

.page_header {
    background-color: #622d18;
    color: #ffffff;
    margin: 2rem 0 5rem;
    padding: 1rem 0;
    text-align: center;
}

.page_header h1 {
    font-size: 1.5rem;
    margin: 0;
}

.brand-logo {
    margin: 3rem 0 5rem;
}

.brand-text {
    color: #b33e5c; 
    font-weight: bold;
}

.act-btn .btn {
    margin: 0 0 0.5rem 0;
    border-radius: 15px;
    background: #ff743d;
    border: none;
}

.login-btn .btn, .signup-btn .btn {
    border-radius: 30px;
    background: #ff743d;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 20px;
}

.confirm-text {
    font-size: 0.9rem;
}

.attention {
    font-size: 0.9rem;
    text-align: right;
}

.record {
    background-color: #eeeeee;
    margin-bottom: 1rem;
    padding: 0 1.5rem;
    border: solid 1px #aaaaaa;
    border-radius: 5px;
}

.header {
    margin: 1rem auto;
}

.record-left p {
    margin: 1rem 0;
}

.attention {
    color: #b33e5c;
    font-weight: bold;
}

.table_list {
    margin: 1.5rem 0;
    border: dotted;
}

.profile-image {
    width: 200px;
    height: 200px;
}

.profile-image img {
    border: solid 10px #330e00;
    border-radius: 10px;
    box-shadow: 2px 2px 4px 4px rgba(0, 0, 0, 0.1);
}

.travel-image img {
    margin-top: 1em;
    /*border: solid 10px #330e00;*/
    /*border-radius: 10px;*/
    /*box-shadow: 2px 2px 4px 4px rgba(0, 0, 0, 0.1);*/
}

.new-btn .btn, .show-btn .btn, .edit-btn .btn, .index-btn .btn, .back-btn .btn, .update-btn .btn, .create-btn .btn, .favorite-btn {
    border-radius: 5px;
    background: #ff743d;
    border: none;
}

.delete-btn .btn {
    border-radius: 5px;
    background: #b3002d;
    border: none;
}
